<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="steelcheck.net.steelcheck">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContatoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VTracaoActivity"
            android:label="@string/verificacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OutputVTracaoActivity"
            android:label="Verificação de Tração"
            android:theme="@style/SteelCheckMain" />
        <activity
            android:name=".VCompressaoActivity"
            android:label="@string/verificacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OutputVCompressaoActivity"
            android:label="Verificação de Compressão"
            android:theme="@style/SteelCheckMain" />
        <activity
            android:name=".VFlexaoActivity"
            android:label="@string/verificacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OutputVFlexaoActivity"
            android:label="Verificação de Flexão"
            android:theme="@style/SteelCheckMain" />
        <activity
            android:name=".VFlexocompressaoActivity"
            android:label="@string/verificacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OutputVFlexocompressaoActivity"
            android:label="Verificação de Flexocompressão"
            android:theme="@style/SteelCheckMain" />
        <activity
            android:name=".DTracaoActivity"
            android:label="@string/dimensionamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DCompressaoActivity"
            android:label="@string/dimensionamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DFlexaoActivity"
            android:label="@string/dimensionamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DFlexocompressaoActivity"
            android:label="@string/dimensionamento"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>